{
    "openapi": "3.0.1",
    "info": {
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://canvas.instructure.com/api"
        }
    ],
    "paths": {
        "/v1/quiz_submissions/{quiz_submission_id}/questions/{id}/unflag": {
            "put": {
                "summary": "Unflagging a question.",
                "description": "Remove the flag that you previously set on a quiz question after you've\nreturned to it.",
                "operationId": "unflagging_question",
                "parameters": [
                    {
                        "name": "quiz_submission_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "attempt",
                                    "validation_token"
                                ],
                                "properties": {
                                    "attempt": {
                                        "type": "integer",
                                        "description": "The attempt number of the quiz submission being taken. Note that this\nmust be the latest attempt index, as questions for earlier attempts can\nnot be modified.",
                                        "format": "int64"
                                    },
                                    "validation_token": {
                                        "type": "string",
                                        "description": "The unique validation token you received when the Quiz Submission was\ncreated."
                                    },
                                    "access_code": {
                                        "type": "string",
                                        "description": "Access code for the Quiz, if any."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/users/self/todo_item_count": {
            "get": {
                "summary": "List counts for todo items",
                "description": "Counts of different todo items such as the number of assignments needing grading as well as the number of assignments needing submitting.\n\nThere is a limit to the number of todo items this endpoint will count.\nIt will only look at the first 100 todo items for the user. If the user has more than 100 todo items this count may not be reliable.\nThe largest reliable number for both counts is 100.",
                "operationId": "list_counts_for_todo_items",
                "parameters": [
                    {
                        "name": "include",
                        "in": "query",
                        "description": "\"ungraded_quizzes\":: Optionally include ungraded quizzes (such as practice quizzes and surveys) in the list.\n                     These will be returned under a +quiz+ key instead of an +assignment+ key in response elements.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "ungraded_quizzes"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/courses/{course_id}/rubric_associations/{rubric_association_id}/rubric_assessments": {
            "post": {
                "summary": "Create a single rubric assessment",
                "description": "Returns the rubric assessment with the given id.\nThe returned object also provides the information of\n  :ratings, :assessor_name, :related_group_submissions_and_assessments, :artifact",
                "operationId": "create_single_rubric_assessment",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "The id of the course",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "rubric_association_id",
                        "in": "path",
                        "description": "The id of the object with which this rubric assessment is associated",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "provisional": {
                                        "type": "string",
                                        "description": "(optional) Indicates whether this assessment is provisional, defaults to false."
                                    },
                                    "final": {
                                        "type": "string",
                                        "description": "(optional) Indicates a provisional grade will be marked as final. It only takes effect if the provisional param is passed as true. Defaults to false."
                                    },
                                    "graded_anonymously": {
                                        "type": "boolean",
                                        "description": "(optional) Defaults to false"
                                    },
                                    "rubric_assessment": {
                                        "type": "ref",
                                        "description": "A Hash of data to complement the rubric assessment:\nThe user id that refers to the person being assessed\n  rubric_assessment[user_id]\nAssessment type. There are only three valid types:  'grading', 'peer_review', or 'provisional_grade'\n  rubric_assessment[assessment_type]\nThe points awarded for this row.\n  rubric_assessment[criterion_id][points]\nComments to add for this row.\n  rubric_assessment[criterion_id][comments]\nFor each criterion_id, change the id by the criterion number, ex: criterion_123\nIf the criterion_id is not specified it defaults to false, and nothing is updated."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/courses/{course_id}/rubric_associations/{id}": {
            "put": {
                "summary": "Update a RubricAssociation",
                "description": "Returns the rubric with the given id.",
                "operationId": "update_rubricassociation",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The id of the RubricAssociation to update",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "rubric_association[rubric_id]": {
                                        "type": "integer",
                                        "description": "The id of the Rubric",
                                        "format": "int64"
                                    },
                                    "rubric_association[association_id]": {
                                        "type": "integer",
                                        "description": "The id of the object with which this rubric is associated",
                                        "format": "int64"
                                    },
                                    "rubric_association[association_type]": {
                                        "type": "string",
                                        "description": "The type of object this rubric is associated with",
                                        "enum": [
                                            "Assignment",
                                            "Course",
                                            "Account"
                                        ]
                                    },
                                    "rubric_association[title]": {
                                        "type": "string",
                                        "description": "The name of the object this rubric is associated with"
                                    },
                                    "rubric_association[use_for_grading]": {
                                        "type": "boolean",
                                        "description": "Whether or not the associated rubric is used for grade calculation"
                                    },
                                    "rubric_association[hide_score_total]": {
                                        "type": "boolean",
                                        "description": "Whether or not the score total is displayed within the rubric.\nThis option is only available if the rubric is not used for grading."
                                    },
                                    "rubric_association[purpose]": {
                                        "type": "string",
                                        "description": "Whether or not the association is for grading (and thus linked to an assignment)\nor if it's to indicate the rubric should appear in its context",
                                        "enum": [
                                            "grading",
                                            "bookmark"
                                        ]
                                    },
                                    "rubric_association[bookmarked]": {
                                        "type": "boolean",
                                        "description": "Whether or not the associated rubric appears in its context"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RubricAssociation"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Delete a RubricAssociation",
                "description": "Delete the RubricAssociation with the given ID",
                "operationId": "delete_rubricassociation",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RubricAssociation"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/accounts/{account_id}/roles": {
            "get": {
                "summary": "List roles",
                "description": "A paginated list of the roles available to an account.",
                "operationId": "list_roles",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "description": "The id of the account to retrieve roles for.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Filter by role state. If this argument is omitted, only 'active' roles are\nreturned.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "active",
                                "inactive"
                            ]
                        }
                    },
                    {
                        "name": "show_inherited",
                        "in": "query",
                        "description": "If this argument is true, all roles inherited from parent accounts will\nbe included.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Role"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a new role",
                "description": "Create a new course-level or account-level role.",
                "operationId": "create_new_role",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "label"
                                ],
                                "properties": {
                                    "label": {
                                        "type": "string",
                                        "description": "Label for the role."
                                    },
                                    "role": {
                                        "type": "string",
                                        "description": "Deprecated alias for label."
                                    },
                                    "base_role_type": {
                                        "type": "string",
                                        "description": "Specifies the role type that will be used as a base\nfor the permissions granted to this role.\n\nDefaults to 'AccountMembership' if absent",
                                        "enum": [
                                            "AccountMembership",
                                            "StudentEnrollment",
                                            "TeacherEnrollment",
                                            "TaEnrollment",
                                            "ObserverEnrollment",
                                            "DesignerEnrollment"
                                        ]
                                    },
                                    "permissions[<X>][explicit]": {
                                        "type": "boolean",
                                        "description": "no description"
                                    },
                                    "permissions[<X>][enabled]": {
                                        "type": "boolean",
                                        "description": "If explicit is 1 and enabled is 1, permission <X> will be explicitly\ngranted to this role. If explicit is 1 and enabled has any other value\n(typically 0), permission <X> will be explicitly denied to this role. If\nexplicit is any other value (typically 0) or absent, or if enabled is\nabsent, the value for permission <X> will be inherited from upstream.\nIgnored if permission <X> is locked upstream (in an ancestor account).\n\nMay occur multiple times with unique values for <X>. Recognized\npermission names for <X> are:\n\n  [For Account-Level Roles Only]\n  become_user                      -- Users - act as\n  import_sis                       -- SIS Data - import\n  manage_account_memberships       -- Admins - add / remove\n  manage_account_settings          -- Account-level settings - manage\n  manage_alerts                    -- Global announcements - add / edit / delete\n  manage_catalog                   -- Catalog - manage\n  Manage Course Templates granular permissions\n      add_course_template          -- Course Templates - add\n      delete_course_template       -- Course Templates - delete\n      edit_course_template         -- Course Templates - edit\n  manage_courses_add               -- Courses - add\n  manage_courses_admin             -- Courses - manage / update\n  manage_developer_keys            -- Developer keys - manage\n  manage_feature_flags             -- Feature Options - enable / disable\n  manage_master_courses            -- Blueprint Courses - add / edit / associate / delete\n  manage_role_overrides            -- Permissions - manage\n  manage_storage_quotas            -- Storage Quotas - manage\n  manage_sis                       -- SIS data - manage\n  manage_user_logins               -- Users - manage login details\n  manage_user_observers            -- Users - manage observers\n  moderate_user_content            -- Users - moderate content\n  read_course_content              -- Course Content - view\n  read_course_list                 -- Courses - view list\n  view_course_changes              -- Courses - view change logs\n  view_feature_flags               -- Feature Options - view\n  view_grade_changes               -- Grades - view change logs\n  view_notifications               -- Notifications - view\n  view_quiz_answer_audits          -- Quizzes - view submission log\n  view_statistics                  -- Statistics - view\n  undelete_courses                 -- Courses - undelete\n\n  [For both Account-Level and Course-Level roles]\n   Note: Applicable enrollment types for course-level roles are given in brackets:\n         S = student, T = teacher (instructor), A = TA, D = designer, O = observer.\n         Lower-case letters indicate permissions that are off by default.\n         A missing letter indicates the permission cannot be enabled for the role\n         or any derived custom roles.\n  allow_course_admin_actions       -- [ Tad ] Users - allow administrative actions in courses\n  create_collaborations            -- [STADo] Student Collaborations - create\n  create_conferences               -- [STADo] Web conferences - create\n  create_forum                     -- [STADo] Discussions - create\n  generate_observer_pairing_code   -- [ tado] Users - Generate observer pairing codes for students\n  import_outcomes                  -- [ TaDo] Learning Outcomes - import\n  lti_add_edit                     -- [ TAD ] LTI - add / edit / delete\n  manage_account_banks             -- [ td  ] Item Banks - manage account\n  manage_assignments               -- [ TADo] Assignments and Quizzes - add / edit / delete (deprecated)\n  Manage Assignments and Quizzes granular permissions\n      manage_assignments_add       -- [ TADo] Assignments and Quizzes - add\n      manage_assignments_edit      -- [ TADo] Assignments and Quizzes - edit / manage\n      manage_assignments_delete    -- [ TADo] Assignments and Quizzes - delete\n  manage_calendar                  -- [sTADo] Course Calendar - add / edit / delete\n  manage_content                   -- [ TADo] Course Content - add / edit / delete\n  manage_course_visibility         -- [ TAD ] Course - change visibility\n  Manage Courses granular permissions\n      manage_courses_conclude      -- [ TaD ] Courses - conclude\n      manage_courses_delete        -- [ TaD ] Courses - delete\n      manage_courses_publish       -- [ TaD ] Courses - publish\n      manage_courses_reset         -- [ TaD ] Courses - reset\n  Manage Files granular permissions\n      manage_files_add             -- [ TADo] Course Files - add\n      manage_files_edit            -- [ TADo] Course Files - edit\n      manage_files_delete          -- [ TADo] Course Files - delete\n  manage_grades                    -- [ TA  ] Grades - edit\n  Manage Groups granular permissions\n      manage_groups_add            -- [ TAD ] Groups - add\n      manage_groups_delete         -- [ TAD ] Groups - delete\n      manage_groups_manage         -- [ TAD ] Groups - manage\n  manage_interaction_alerts        -- [ Ta  ] Alerts - add / edit / delete\n  manage_outcomes                  -- [sTaDo] Learning Outcomes - add / edit / delete\n  manage_proficiency_calculations  -- [ t d ] Outcome Proficiency Calculations - add / edit / delete\n  manage_proficiency_scales        -- [ t d ] Outcome Proficiency/Mastery Scales - add / edit / delete\n  Manage Sections granular permissions\n      manage_sections_add          -- [ TaD ] Course Sections - add\n      manage_sections_edit         -- [ TaD ] Course Sections - edit\n      manage_sections_delete       -- [ TaD ] Course Sections - delete\n  manage_students                  -- [ TAD ] Users - manage students in courses\n  manage_user_notes                -- [ TA  ] Faculty Journal - manage entries\n  manage_rubrics                   -- [ TAD ] Rubrics - add / edit / delete\n  Manage Pages granular permissions\n      manage_wiki_create           -- [ TADo] Pages - create\n      manage_wiki_delete           -- [ TADo] Pages - delete\n      manage_wiki_update           -- [ TADo] Pages - update\n  moderate_forum                   -- [sTADo] Discussions - moderate\n  post_to_forum                    -- [STADo] Discussions - post\n  read_announcements               -- [STADO] Announcements - view\n  read_email_addresses             -- [sTAdo] Users - view primary email address\n  read_forum                       -- [STADO] Discussions - view\n  read_question_banks              -- [ TADo] Question banks - view and link\n  read_reports                     -- [ TAD ] Courses - view usage reports\n  read_roster                      -- [STADo] Users - view list\n  read_sis                         -- [sTa  ] SIS Data - read\n  select_final_grade               -- [ TA  ] Grades - select final grade for moderation\n  send_messages                    -- [STADo] Conversations - send messages to individual course members\n  send_messages_all                -- [sTADo] Conversations - send messages to entire class\n  Users - Teacher granular permissions\n      add_teacher_to_course        -- [ Tad ] Add a teacher enrollment to a course\n      remove_teacher_from_course   -- [ Tad ] Remove a Teacher enrollment from a course\n  Users - TA granular permissions\n      add_ta_to_course             -- [ Tad ] Add a TA enrollment to a course\n      remove_ta_from_course        -- [ Tad ] Remove a TA enrollment from a course\n  Users - Designer granular permissions\n      add_designer_to_course       -- [ Tad ] Add a designer enrollment to a course\n      remove_designer_from_course  -- [ Tad ] Remove a designer enrollment from a course\n  Users - Observer granular permissions\n      add_observer_to_course       -- [ Tad ] Add an observer enrollment to a course\n      remove_observer_from_course  -- [ Tad ] Remove an observer enrollment from a course\n  Users - Student granular permissions\n      add_student_to_course        -- [ Tad ] Add a student enrollment to a course\n      remove_student_from_course   -- [ Tad ] Remove a student enrollment from a course\n  view_all_grades                  -- [ TAd ] Grades - view all grades\n  view_analytics                   -- [sTA  ] Analytics - view pages\n  view_audit_trail                 -- [ t   ] Grades - view audit trail\n  view_group_pages                 -- [sTADo] Groups - view all student groups\n  view_user_logins                 -- [ TA  ] Users - view login IDs\n\nSome of these permissions are applicable only for roles on the site admin\naccount, on a root account, or for course-level roles with a particular base role type;\nif a specified permission is inapplicable, it will be ignored.\n\nAdditional permissions may exist based on installed plugins.\n\nA comprehensive list of all permissions are available:\n\nCourse Permissions PDF: http://bit.ly/cnvs-course-permissions\n\nAccount Permissions PDF: http://bit.ly/cnvs-acct-permissions"
                                    },
                                    "permissions[<X>][locked]": {
                                        "type": "boolean",
                                        "description": "If the value is 1, permission <X> will be locked downstream (new roles in\nsubaccounts cannot override the setting). For any other value, permission\n<X> is left unlocked. Ignored if permission <X> is already locked\nupstream. May occur multiple times with unique values for <X>."
                                    },
                                    "permissions[<X>][applies_to_self]": {
                                        "type": "boolean",
                                        "description": "If the value is 1, permission <X> applies to the account this role is in.\nThe default value is 1. Must be true if applies_to_descendants is false.\nThis value is only returned if enabled is true."
                                    },
                                    "permissions[<X>][applies_to_descendants]": {
                                        "type": "boolean",
                                        "description": "If the value is 1, permission <X> cascades down to sub accounts of the\naccount this role is in. The default value is 1.  Must be true if\napplies_to_self is false.This value is only returned if enabled is true."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Role"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/{user_id}/observees": {
            "get": {
                "summary": "List observees",
                "description": "A paginated list of the users that the given user is observing.\n\n*Note:* all users are allowed to list their own observees. Administrators can list\nother users' observees.\n\nThe returned observees will include an attribute \"observation_link_root_account_ids\", a list\nof ids for the root accounts the observer and observee are linked on. The observer will only be able to\nobserve in courses associated with these root accounts.",
                "operationId": "list_observees",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "- \"avatar_url\": Optionally include avatar_url.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "avatar_url"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/User"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add an observee with credentials",
                "description": "Register the given user to observe another user, given the observee's credentials.\n\n*Note:* all users are allowed to add their own observees, given the observee's\ncredentials or access token are provided. Administrators can add observees given credentials, access token or\nthe {api:UserObserveesController#update observee's id}.",
                "operationId": "add_observee_with_credentials",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "observee[unique_id]": {
                                        "type": "string",
                                        "description": "The login id for the user to observe.  Required if access_token is omitted."
                                    },
                                    "observee[password]": {
                                        "type": "string",
                                        "description": "The password for the user to observe. Required if access_token is omitted."
                                    },
                                    "access_token": {
                                        "type": "string",
                                        "description": "The access token for the user to observe.  Required if <tt>observee[unique_id]</tt> or <tt>observee[password]</tt> are omitted."
                                    },
                                    "pairing_code": {
                                        "type": "string",
                                        "description": "A generated pairing code for the user to observe. Required if the Observer pairing code feature flag is enabled"
                                    },
                                    "root_account_id": {
                                        "type": "integer",
                                        "description": "The ID for the root account to associate with the observation link.\nDefaults to the current domain account.\nIf 'all' is specified, a link will be created for each root account associated\nto both the observer and observee.",
                                        "format": "int64"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/accounts/{account_id}/sis_imports/{id}": {
            "get": {
                "summary": "Get SIS import status",
                "description": "Get the status of an already created SIS import.\n\n  Examples:\n    curl https://<canvas>/api/v1/accounts/<account_id>/sis_imports/<sis_import_id> \\\n        -H 'Authorization: Bearer <token>'",
                "operationId": "get_sis_import_status",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SisImport"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/sections/{section_id}/students/submissions": {
            "get": {
                "summary": "List submissions for multiple assignments",
                "description": "A paginated list of all existing submissions for a given set of students and assignments.",
                "operationId": "list_submissions_for_multiple_assignments_sections",
                "parameters": [
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "student_ids",
                        "in": "query",
                        "description": "List of student ids to return submissions for. If this argument is\nomitted, return submissions for the calling user. Students may only list\ntheir own submissions. Observers may only list those of associated\nstudents. The special id \"all\" will return submissions for all students\nin the course/section as appropriate.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "assignment_ids",
                        "in": "query",
                        "description": "List of assignments to return submissions for. If none are given,\nsubmissions for all assignments are returned.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "grouped",
                        "in": "query",
                        "description": "If this argument is present, the response will be grouped by student,\nrather than a flat array of submissions.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "post_to_sis",
                        "in": "query",
                        "description": "If this argument is set to true, the response will only include\nsubmissions for assignments that have the post_to_sis flag set to true and\nuser enrollments that were added through sis.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "submitted_since",
                        "in": "query",
                        "description": "If this argument is set, the response will only include submissions that\nwere submitted after the specified date_time. This will exclude\nsubmissions that do not have a submitted_at which will exclude unsubmitted\nsubmissions.\nThe value must be formatted as ISO 8601 YYYY-MM-DDTHH:MM:SSZ.",
                        "schema": {
                            "type": "ref"
                        }
                    },
                    {
                        "name": "graded_since",
                        "in": "query",
                        "description": "If this argument is set, the response will only include submissions that\nwere graded after the specified date_time. This will exclude\nsubmissions that have not been graded.\nThe value must be formatted as ISO 8601 YYYY-MM-DDTHH:MM:SSZ.",
                        "schema": {
                            "type": "ref"
                        }
                    },
                    {
                        "name": "grading_period_id",
                        "in": "query",
                        "description": "The id of the grading period in which submissions are being requested\n(Requires grading periods to exist on the account)",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "workflow_state",
                        "in": "query",
                        "description": "The current status of the submission",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "submitted",
                                "unsubmitted",
                                "graded",
                                "pending_review"
                            ]
                        }
                    },
                    {
                        "name": "enrollment_state",
                        "in": "query",
                        "description": "The current state of the enrollments. If omitted will include all\nenrollments that are not deleted.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "concluded"
                            ]
                        }
                    },
                    {
                        "name": "state_based_on_date",
                        "in": "query",
                        "description": "If omitted it is set to true. When set to false it will ignore the effective\nstate of the student enrollments and use the workflow_state for the\nenrollments. The argument is ignored unless enrollment_state argument is\nalso passed.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "The order submissions will be returned in.  Defaults to \"id\".  Doesn't\naffect results for \"grouped\" mode.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "id",
                                "graded_at"
                            ]
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Determines whether ordered results are returned in ascending or descending\norder.  Defaults to \"ascending\".  Doesn't affect results for \"grouped\" mode.",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ascending",
                                "descending"
                            ]
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Associations to include with the group. `total_scores` requires the\n`grouped` argument.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "submission_history",
                                "submission_comments",
                                "rubric_assessment",
                                "assignment",
                                "total_scores",
                                "visibility",
                                "course",
                                "user"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/sections/{section_id}/assignments/{assignment_id}/anonymous_submissions/{anonymous_id}": {
            "get": {
                "summary": "Get a single submission by anonymous id",
                "description": "Get a single submission, based on the submission's anonymous id.",
                "operationId": "get_single_submission_by_anonymous_id_sections",
                "parameters": [
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "anonymous_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Associations to include with the group.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "submission_history",
                                "submission_comments",
                                "rubric_assessment",
                                "full_rubric_assessment",
                                "visibility",
                                "course",
                                "user",
                                "read_status"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            },
            "put": {
                "summary": "Grade or comment on a submission by anonymous id",
                "description": "Comment on and/or update the grading for a student's assignment submission,\nfetching the submission by anonymous id (instead of user id). If any\nsubmission or rubric_assessment arguments are provided, the user must\nhave permission to manage grades in the appropriate context (course or\nsection).",
                "operationId": "grade_or_comment_on_submission_by_anonymous_id_sections",
                "parameters": [
                    {
                        "name": "section_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "anonymous_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "comment[text_comment]": {
                                        "type": "string",
                                        "description": "Add a textual comment to the submission."
                                    },
                                    "comment[group_comment]": {
                                        "type": "boolean",
                                        "description": "Whether or not this comment should be sent to the entire group (defaults\nto false). Ignored if this is not a group assignment or if no text_comment\nis provided."
                                    },
                                    "comment[media_comment_id]": {
                                        "type": "string",
                                        "description": "Add an audio/video comment to the submission. Media comments can be added\nvia this API, however, note that there is not yet an API to generate or\nlist existing media comments, so this functionality is currently of\nlimited use."
                                    },
                                    "comment[media_comment_type]": {
                                        "type": "string",
                                        "description": "The type of media comment being added.",
                                        "enum": [
                                            "audio",
                                            "video"
                                        ]
                                    },
                                    "comment[file_ids]": {
                                        "type": "array",
                                        "description": "Attach files to this comment that were previously uploaded using the\nSubmission Comment API's files action",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "include[visibility]": {
                                        "type": "string",
                                        "description": "Whether this assignment is visible to the owner of the submission"
                                    },
                                    "submission[posted_grade]": {
                                        "type": "string",
                                        "description": "Assign a score to the submission, updating both the \"score\" and \"grade\"\nfields on the submission record. This parameter can be passed in a few\ndifferent formats:\n\npoints:: A floating point or integral value, such as \"13.5\". The grade\n  will be interpreted directly as the score of the assignment.\n  Values above assignment.points_possible are allowed, for awarding\n  extra credit.\npercentage:: A floating point value appended with a percent sign, such as\n   \"40%\". The grade will be interpreted as a percentage score on the\n   assignment, where 100% == assignment.points_possible. Values above 100%\n   are allowed, for awarding extra credit.\nletter grade:: A letter grade, following the assignment's defined letter\n   grading scheme. For example, \"A-\". The resulting score will be the high\n   end of the defined range for the letter grade. For instance, if \"B\" is\n   defined as 86% to 84%, a letter grade of \"B\" will be worth 86%. The\n   letter grade will be rejected if the assignment does not have a defined\n   letter grading scheme. For more fine-grained control of scores, pass in\n   points or percentage rather than the letter grade.\n\"pass/complete/fail/incomplete\":: A string value of \"pass\" or \"complete\"\n   will give a score of 100%. \"fail\" or \"incomplete\" will give a score of\n   0.\n\nNote that assignments with grading_type of \"pass_fail\" can only be\nassigned a score of 0 or assignment.points_possible, nothing inbetween. If\na posted_grade in the \"points\" or \"percentage\" format is sent, the grade\nwill only be accepted if the grade equals one of those two values."
                                    },
                                    "submission[excuse]": {
                                        "type": "boolean",
                                        "description": "Sets the \"excused\" status of an assignment."
                                    },
                                    "submission[late_policy_status]": {
                                        "type": "string",
                                        "description": "Sets the late policy status to either \"late\", \"missing\", \"extended\", \"none\", or null.\n  NB: \"extended\" values can only be set in the UI when the \"UI features for 'extended' Submissions\" Account Feature is on"
                                    },
                                    "submission[seconds_late_override]": {
                                        "type": "integer",
                                        "description": "Sets the seconds late if late policy status is \"late\"",
                                        "format": "int64"
                                    },
                                    "rubric_assessment": {
                                        "type": "ref",
                                        "description": "Assign a rubric assessment to this assignment submission. The\nsub-parameters here depend on the rubric for the assignment. The general\nformat is, for each row in the rubric:\n\nThe points awarded for this row.\n  rubric_assessment[criterion_id][points]\n\nThe rating id for the row.\n  rubric_assessment[criterion_id][rating_id]\n\nComments to add for this row.\n  rubric_assessment[criterion_id][comments]\n\nFor example, if the assignment rubric is (in JSON format):\n  !!!javascript\n  [\n    {\n      'id': 'crit1',\n      'points': 10,\n      'description': 'Criterion 1',\n      'ratings':\n      [\n        { 'id': 'rat1', 'description': 'Good', 'points': 10 },\n        { 'id': 'rat2', 'description': 'Poor', 'points': 3 }\n      ]\n    },\n    {\n      'id': 'crit2',\n      'points': 5,\n      'description': 'Criterion 2',\n      'ratings':\n      [\n        { 'id': 'rat1', 'description': 'Exemplary', 'points': 5 },\n        { 'id': 'rat2', 'description': 'Complete', 'points': 5 },\n        { 'id': 'rat3', 'description': 'Incomplete', 'points': 0 }\n      ]\n    }\n  ]\n\nThen a possible set of values for rubric_assessment would be:\n    rubric_assessment[crit1][points]=3&rubric_assessment[crit1][rating_id]=rat1&rubric_assessment[crit2][points]=5&rubric_assessment[crit2][rating_id]=rat2&rubric_assessment[crit2][comments]=Well%20Done."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/courses/{course_id}/assignments/{assignment_id}/submissions/{user_id}/files": {
            "post": {
                "summary": "Upload a file",
                "description": "Upload a file to a submission.\n\nThis API endpoint is the first step in uploading a file to a submission as a student.\nSee the {file:file_uploads.html File Upload Documentation} for details on the file upload workflow.\n\nThe final step of the file upload workflow will return the attachment data,\nincluding the new file id. The caller can then POST to submit the\n+online_upload+ assignment with these file ids.",
                "operationId": "upload_file_courses",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/courses/{course_id}/quizzes/{quiz_id}/reports": {
            "get": {
                "summary": "Retrieve all quiz reports",
                "description": "Returns a list of all available reports.",
                "operationId": "retrieve_all_quiz_reports",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "quiz_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includes_all_versions",
                        "in": "query",
                        "description": "Whether to retrieve reports that consider all the submissions or only\nthe most recent. Defaults to false, ignored for item_analysis reports.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/QuizReport"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a quiz report",
                "description": "Create and return a new report for this quiz. If a previously\ngenerated report matches the arguments and is still current (i.e.\nthere have been no new submissions), it will be returned.\n\n*Responses*\n\n* <code>400 Bad Request</code> if the specified report type is invalid\n* <code>409 Conflict</code> if a quiz report of the specified type is already being\n  generated",
                "operationId": "create_quiz_report",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "quiz_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "quiz_report[report_type]"
                                ],
                                "properties": {
                                    "quiz_report[report_type]": {
                                        "type": "string",
                                        "description": "The type of report to be generated.",
                                        "enum": [
                                            "student_analysis",
                                            "item_analysis"
                                        ]
                                    },
                                    "quiz_report[includes_all_versions]": {
                                        "type": "boolean",
                                        "description": "Whether the report should consider all submissions or only the most\nrecent. Defaults to false, ignored for item_analysis."
                                    },
                                    "include": {
                                        "type": "ref",
                                        "description": "Whether the output should include documents for the file and/or progress\nobjects associated with this report. (Note: JSON-API only)",
                                        "enum": [
                                            "file",
                                            "progress"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuizReport"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/courses/{course_id}/assignments/{assignment_id}/anonymous_submissions/{anonymous_id}": {
            "get": {
                "summary": "Get a single submission by anonymous id",
                "description": "Get a single submission, based on the submission's anonymous id.",
                "operationId": "get_single_submission_by_anonymous_id_courses",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "anonymous_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Associations to include with the group.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "submission_history",
                                "submission_comments",
                                "rubric_assessment",
                                "full_rubric_assessment",
                                "visibility",
                                "course",
                                "user",
                                "read_status"
                            ]
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            },
            "put": {
                "summary": "Grade or comment on a submission by anonymous id",
                "description": "Comment on and/or update the grading for a student's assignment submission,\nfetching the submission by anonymous id (instead of user id). If any\nsubmission or rubric_assessment arguments are provided, the user must\nhave permission to manage grades in the appropriate context (course or\nsection).",
                "operationId": "grade_or_comment_on_submission_by_anonymous_id_courses",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "anonymous_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "comment[text_comment]": {
                                        "type": "string",
                                        "description": "Add a textual comment to the submission."
                                    },
                                    "comment[group_comment]": {
                                        "type": "boolean",
                                        "description": "Whether or not this comment should be sent to the entire group (defaults\nto false). Ignored if this is not a group assignment or if no text_comment\nis provided."
                                    },
                                    "comment[media_comment_id]": {
                                        "type": "string",
                                        "description": "Add an audio/video comment to the submission. Media comments can be added\nvia this API, however, note that there is not yet an API to generate or\nlist existing media comments, so this functionality is currently of\nlimited use."
                                    },
                                    "comment[media_comment_type]": {
                                        "type": "string",
                                        "description": "The type of media comment being added.",
                                        "enum": [
                                            "audio",
                                            "video"
                                        ]
                                    },
                                    "comment[file_ids]": {
                                        "type": "array",
                                        "description": "Attach files to this comment that were previously uploaded using the\nSubmission Comment API's files action",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "include[visibility]": {
                                        "type": "string",
                                        "description": "Whether this assignment is visible to the owner of the submission"
                                    },
                                    "submission[posted_grade]": {
                                        "type": "string",
                                        "description": "Assign a score to the submission, updating both the \"score\" and \"grade\"\nfields on the submission record. This parameter can be passed in a few\ndifferent formats:\n\npoints:: A floating point or integral value, such as \"13.5\". The grade\n  will be interpreted directly as the score of the assignment.\n  Values above assignment.points_possible are allowed, for awarding\n  extra credit.\npercentage:: A floating point value appended with a percent sign, such as\n   \"40%\". The grade will be interpreted as a percentage score on the\n   assignment, where 100% == assignment.points_possible. Values above 100%\n   are allowed, for awarding extra credit.\nletter grade:: A letter grade, following the assignment's defined letter\n   grading scheme. For example, \"A-\". The resulting score will be the high\n   end of the defined range for the letter grade. For instance, if \"B\" is\n   defined as 86% to 84%, a letter grade of \"B\" will be worth 86%. The\n   letter grade will be rejected if the assignment does not have a defined\n   letter grading scheme. For more fine-grained control of scores, pass in\n   points or percentage rather than the letter grade.\n\"pass/complete/fail/incomplete\":: A string value of \"pass\" or \"complete\"\n   will give a score of 100%. \"fail\" or \"incomplete\" will give a score of\n   0.\n\nNote that assignments with grading_type of \"pass_fail\" can only be\nassigned a score of 0 or assignment.points_possible, nothing inbetween. If\na posted_grade in the \"points\" or \"percentage\" format is sent, the grade\nwill only be accepted if the grade equals one of those two values."
                                    },
                                    "submission[excuse]": {
                                        "type": "boolean",
                                        "description": "Sets the \"excused\" status of an assignment."
                                    },
                                    "submission[late_policy_status]": {
                                        "type": "string",
                                        "description": "Sets the late policy status to either \"late\", \"missing\", \"extended\", \"none\", or null.\n  NB: \"extended\" values can only be set in the UI when the \"UI features for 'extended' Submissions\" Account Feature is on"
                                    },
                                    "submission[seconds_late_override]": {
                                        "type": "integer",
                                        "description": "Sets the seconds late if late policy status is \"late\"",
                                        "format": "int64"
                                    },
                                    "rubric_assessment": {
                                        "type": "ref",
                                        "description": "Assign a rubric assessment to this assignment submission. The\nsub-parameters here depend on the rubric for the assignment. The general\nformat is, for each row in the rubric:\n\nThe points awarded for this row.\n  rubric_assessment[criterion_id][points]\n\nThe rating id for the row.\n  rubric_assessment[criterion_id][rating_id]\n\nComments to add for this row.\n  rubric_assessment[criterion_id][comments]\n\nFor example, if the assignment rubric is (in JSON format):\n  !!!javascript\n  [\n    {\n      'id': 'crit1',\n      'points': 10,\n      'description': 'Criterion 1',\n      'ratings':\n      [\n        { 'id': 'rat1', 'description': 'Good', 'points': 10 },\n        { 'id': 'rat2', 'description': 'Poor', 'points': 3 }\n      ]\n    },\n    {\n      'id': 'crit2',\n      'points': 5,\n      'description': 'Criterion 2',\n      'ratings':\n      [\n        { 'id': 'rat1', 'description': 'Exemplary', 'points': 5 },\n        { 'id': 'rat2', 'description': 'Complete', 'points': 5 },\n        { 'id': 'rat3', 'description': 'Incomplete', 'points': 0 }\n      ]\n    }\n  ]\n\nThen a possible set of values for rubric_assessment would be:\n    rubric_assessment[crit1][points]=3&rubric_assessment[crit1][rating_id]=rat1&rubric_assessment[crit2][points]=5&rubric_assessment[crit2][rating_id]=rat2&rubric_assessment[crit2][comments]=Well%20Done."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/accounts/{account_id}/self_registration": {
            "post": {
                "summary": "[DEPRECATED] Self register a user",
                "description": "Self register and return a new user and pseudonym for an account.\n\nIf self-registration is enabled on the account, you can use this\nendpoint to self register new users.",
                "operationId": "deprecated_self_register_user",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "pseudonym[unique_id]",
                                    "user[name]",
                                    "user[terms_of_use]"
                                ],
                                "properties": {
                                    "user[name]": {
                                        "type": "string",
                                        "description": "The full name of the user. This name will be used by teacher for grading."
                                    },
                                    "user[short_name]": {
                                        "type": "string",
                                        "description": "User's name as it will be displayed in discussions, messages, and comments."
                                    },
                                    "user[sortable_name]": {
                                        "type": "string",
                                        "description": "User's name as used to sort alphabetically in lists."
                                    },
                                    "user[time_zone]": {
                                        "type": "string",
                                        "description": "The time zone for the user. Allowed time zones are\n{http://www.iana.org/time-zones IANA time zones} or friendlier\n{http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}."
                                    },
                                    "user[locale]": {
                                        "type": "string",
                                        "description": "The user's preferred language, from the list of languages Canvas supports.\nThis is in RFC-5646 format."
                                    },
                                    "user[terms_of_use]": {
                                        "type": "boolean",
                                        "description": "Whether the user accepts the terms of use."
                                    },
                                    "pseudonym[unique_id]": {
                                        "type": "string",
                                        "description": "User's login ID. Must be a valid email address."
                                    },
                                    "communication_channel[type]": {
                                        "type": "string",
                                        "description": "The communication channel type, e.g. 'email' or 'sms'."
                                    },
                                    "communication_channel[address]": {
                                        "type": "string",
                                        "description": "The communication channel address, e.g. the user's email address."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/courses/{course_id}/assignments/{assignment_id}/gradeable_students": {
            "get": {
                "summary": "List gradeable students",
                "description": "A paginated list of students eligible to submit the assignment. The caller must have permission to view grades.\n\nIf anonymous grading is enabled for the current assignment and the allow_new_anonymous_id parameter is passed,\nthe returned data will not include any values identifying the student, but will instead include an\nassignment-specific anonymous ID for each student.\n\nSection-limited instructors will only see students in their own sections.",
                "operationId": "list_gradeable_students",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UserDisplay if anonymous grading is not enabled for the assignment or if the allow_new_anonymous_id parameter is not true"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/{user_id}/observer_pairing_codes": {
            "post": {
                "summary": "Create observer pairing code",
                "description": "If the user is a student, will generate a code to be used with self registration\nor observees APIs to link another user to this student.",
                "operationId": "create_observer_pairing_code",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PairingCode"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/self/course_nicknames/{course_id}": {
            "get": {
                "summary": "Get course nickname",
                "description": "Returns the nickname for a specific course.",
                "operationId": "get_course_nickname",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourseNickname"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Set course nickname",
                "description": "Set a nickname for the given course. This will replace the course's name\nin output of API calls you make subsequently, as well as in selected\nplaces in the Canvas web user interface.",
                "operationId": "set_course_nickname",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "nickname"
                                ],
                                "properties": {
                                    "nickname": {
                                        "type": "string",
                                        "description": "The nickname to set.  It must be non-empty and shorter than 60 characters."
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourseNickname"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Remove course nickname",
                "description": "Remove the nickname for the given course.\nSubsequent course API calls will return the actual name for the course.",
                "operationId": "remove_course_nickname",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CourseNickname"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/courses/{course_id}/assignments/{assignment_id}/submissions/{user_id}/rubric_comments/read": {
            "get": {
                "summary": "Get rubric assessments read state",
                "description": "Return whether new rubric comments/grading made on a submission have been seen by the student being assessed.",
                "operationId": "get_rubric_assessments_read_state_courses_rubric_comments",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            },
            "put": {
                "summary": "Mark rubric assessments as read",
                "description": "Indicate that rubric comments/grading made on a submission have been read by the student being assessed.\nOnly the student who owns the submission can use this endpoint.\n\nNOTE: Rubric assessments will be marked as read automatically when they are viewed in Canvas web.",
                "operationId": "mark_rubric_assessments_as_read_courses_rubric_comments",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/accounts/{account_id}/roles/{id}/activate": {
            "post": {
                "summary": "Activate a role",
                "description": "Re-activates an inactive role (allowing it to be assigned to new users)",
                "operationId": "activate_role",
                "parameters": [
                    {
                        "name": "account_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "role_id"
                                ],
                                "properties": {
                                    "role_id": {
                                        "type": "integer",
                                        "description": "The unique identifier for the role",
                                        "format": "int64"
                                    },
                                    "role": {
                                        "type": "ref",
                                        "description": "The name for the role"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Role"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/users/{id}/settings": {
            "get": {
                "summary": "Update user settings.",
                "description": "Update an existing user's settings.",
                "operationId": "update_user_settings",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "manual_mark_as_read",
                        "in": "query",
                        "description": "If true, require user to manually mark discussion posts as read (don't\nauto-mark as read).",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "release_notes_badge_disabled",
                        "in": "query",
                        "description": "If true, hide the badge for new release notes.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "collapse_global_nav",
                        "in": "query",
                        "description": "If true, the user's page loads with the global navigation collapsed",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "collapse_course_nav",
                        "in": "query",
                        "description": "If true, the user's course pages will load with the course navigation\ncollapsed.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "hide_dashcard_color_overlays",
                        "in": "query",
                        "description": "If true, images on course cards will be presented without being tinted\nto match the course color.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "comment_library_suggestions_enabled",
                        "in": "query",
                        "description": "If true, suggestions within the comment library will be shown.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "elementary_dashboard_disabled",
                        "in": "query",
                        "description": "If true, will display the user's preferred class Canvas dashboard\nview instead of the canvas for elementary view.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "default": {
                        "description": "success",
                        "content": {}
                    }
                }
            }
        },
        "/v1/courses/{course_id}/assignments/{assignment_id}/submissions": {
            "get": {
                "summary": "List assignment submissions",
                "description": "A paginated list of all existing submissions for an assignment.",
                "operationId": "list_assignment_submissions_courses",
                "parameters": [
                    {
                        "name": "course_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "assignment_id",
                        "in": "path",
                        "description": "ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "include",
                        "in": "query",
                        "description": "Associations to include with the group.  \"group\" will add group_id and group_name.",
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            },
                            "enum": [
                                "submission_history",
                                "submission_comments",
                                "rubric_assessment",
                                "assignment",
                                "visibility",
                                "course",
                                "user",
                                "group",
                                "read_status"
                            ]
                        }
[...]
