{
  "openapi": "3.0.1",
  "info": {
    "version": "1.0",
    "title": "Canvas APIs"
  },
  "servers": [
    {
      "url": "https://canvas.instructure.com/api"
    }
  ],
  "paths": {
    "/v1/accounts/{account_id}/visible_calendars_count": {
      "get": {
        "tags": [
          "account_calendars"
        ],
        "summary": "Count of all visible account calendars",
        "description": "Returns the number of visible account calendars.",
        "operationId": "count_of_all_visible_account_calendars",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCalendar"
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_calendars": {
      "get": {
        "tags": [
          "account_calendars"
        ],
        "summary": "List available account calendars",
        "description": "Returns a paginated list of account calendars available to the current user.\nIncludes visible account calendars where the user has an account association.",
        "operationId": "list_available_account_calendars",
        "parameters": [
          {
            "name": "search_term",
            "in": "query",
            "description": "When included, searches available account calendars for the term. Returns matching\nresults. Term must be at least 2 characters.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountCalendar"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/account_calendars/{account_id}": {
      "get": {
        "tags": [
          "account_calendars"
        ],
        "summary": "Get a single account calendar",
        "description": "Get details about a specific account calendar.",
        "operationId": "get_single_account_calendar",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCalendar"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "account_calendars"
        ],
        "summary": "Update a calendar's visibility",
        "description": "Set an account calendar as hidden or visible. Requires the\n`manage_account_calendar_visibility` permission on the account.",
        "operationId": "update_calendar_s_visibility",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "visible": {
                    "type": "boolean",
                    "description": "Allow administrators with `manage_account_calendar_events` permission\nto create events on this calendar, and allow users to view this\ncalendar and its events."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCalendar"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/account_calendars": {
      "get": {
        "tags": [
          "account_calendars"
        ],
        "summary": "List all account calendars",
        "description": "Returns a paginated list of account calendars for the provided account and\nits first level of sub-accounts. Includes hidden calendars in the response.\nRequires the `manage_account_calendar_visibility` permission.",
        "operationId": "list_all_account_calendars",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "description": "When included, searches all descendent accounts of provided account for the\nterm. Returns matching results. Term must be at least 2 characters. Can be\ncombined with a filter value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "When included, only returns calendars that are either visible or hidden. Can\nbe combined with a search term.",
            "schema": {
              "type": "string",
              "enum": [
                "visible",
                "hidden"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountCalendar"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "account_calendars"
        ],
        "summary": "Update many calendars' visibility",
        "description": "Set visibility on many calendars simultaneously. Requires the\n`manage_account_calendar_visibility` permission on the account.\n\nAccepts a JSON array of objects containing 2 keys each: `id`\n(the account's id), and `visible` (a boolean indicating whether\nthe account calendar is visible).",
        "operationId": "update_many_calendars_visibility",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountCalendar"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/search": {
      "get": {
        "tags": [
          "account_domain_lookups"
        ],
        "summary": "Search account domains",
        "description": "Returns a list of up to 5 matching account domains\n\nPartial match on name / domain are supported",
        "operationId": "search_account_domains",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "campus name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain",
            "in": "query",
            "description": "no description",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "no description",
            "schema": {
              "type": "number",
              "format": "float"
            }
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "no description",
            "schema": {
              "type": "number",
              "format": "float"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/account_notifications": {
      "get": {
        "tags": [
          "account_notifications"
        ],
        "summary": "Index of active global notification for the user",
        "description": "Returns a list of all global notifications in the account for the current user\nAny notifications that have been closed by the user will not be returned, unless\na include_past parameter is passed in as true.",
        "operationId": "index_of_active_global_notification_for_user",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_past",
            "in": "query",
            "description": "Include past and dismissed global announcements.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccountNotification"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "account_notifications"
        ],
        "summary": "Create a global notification",
        "description": "Create and return a new global notification for an account.",
        "operationId": "create_global_notification",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "account_notification[end_at]",
                  "account_notification[message]",
                  "account_notification[start_at]",
                  "account_notification[subject]"
                ],
                "properties": {
                  "account_notification[subject]": {
                    "type": "string",
                    "description": "The subject of the notification."
                  },
                  "account_notification[message]": {
                    "type": "string",
                    "description": "The message body of the notification."
                  },
                  "account_notification[start_at]": {
                    "type": "object",
                    "description": "The start date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
                  },
                  "account_notification[end_at]": {
                    "type": "object",
                    "description": "The end date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
                  },
                  "account_notification[icon]": {
                    "type": "string",
                    "description": "The icon to display with the notification.\nNote: Defaults to warning.",
                    "enum": [
                      "warning",
                      "information",
                      "question",
                      "error",
                      "calendar"
                    ]
                  },
                  "account_notification_roles": {
                    "type": "array",
                    "description": "The role(s) to send global notification to.  Note:  ommitting this field will send to everyone\nExample:\n  account_notification_roles: [\"StudentEnrollment\", \"TeacherEnrollment\"]",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/account_notifications/{id}": {
      "get": {
        "tags": [
          "account_notifications"
        ],
        "summary": "Show a global notification",
        "description": "Returns a global notification for the current user\nA notification that has been closed by the user will not be returned",
        "operationId": "show_global_notification",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotification"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "account_notifications"
        ],
        "summary": "Update a global notification",
        "description": "Update global notification for an account.",
        "operationId": "update_global_notification",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "account_notification[subject]": {
                    "type": "string",
                    "description": "The subject of the notification."
                  },
                  "account_notification[message]": {
                    "type": "string",
                    "description": "The message body of the notification."
                  },
                  "account_notification[start_at]": {
                    "type": "object",
                    "description": "The start date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
                  },
                  "account_notification[end_at]": {
                    "type": "object",
                    "description": "The end date and time of the notification in ISO8601 format.\ne.g. 2014-01-01T01:00Z"
                  },
                  "account_notification[icon]": {
                    "type": "string",
                    "description": "The icon to display with the notification.",
                    "enum": [
                      "warning",
                      "information",
                      "question",
                      "error",
                      "calendar"
                    ]
                  },
                  "account_notification_roles": {
                    "type": "array",
                    "description": "The role(s) to send global notification to.  Note:  ommitting this field will send to everyone\nExample:\n  account_notification_roles: [\"StudentEnrollment\", \"TeacherEnrollment\"]",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "account_notifications"
        ],
        "summary": "Close notification for user",
        "description": "If the current user no long wants to see this notification it can be excused with this call",
        "operationId": "close_notification_for_user",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountNotification"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/reports/{report}": {
      "get": {
        "tags": [
          "account_reports"
        ],
        "summary": "Index of Reports",
        "description": "Shows all reports that have been run for the account of a specific type.",
        "operationId": "index_of_reports",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Report"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "account_reports"
        ],
        "summary": "Start a Report",
        "description": "Generates a report instance for the account. Note that \"report\" in the\nrequest must match one of the available report names. To fetch a list of\navailable report names and parameters for each report (including whether or\nnot those parameters are required), see\n{api:AccountReportsController#available_reports List Available Reports}.",
        "operationId": "start_report",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "parameters": {
                    "type": "string",
                    "description": "The parameters will vary for each report. To fetch a list\nof available parameters for each report, see {api:AccountReportsController#available_reports List Available Reports}.\nA few example parameters have been provided below. Note that the example\nparameters provided below may not be valid for every report."
                  },
                  "parameters[skip_message]": {
                    "type": "boolean",
                    "description": "If true, no message will be sent\nto the user upon completion of the report."
                  },
                  "parameters[course_id]": {
                    "type": "integer",
                    "description": "The id of the course to report on.\nNote: this parameter has been listed to serve as an example and may not be\nvalid for every report.",
                    "format": "int64"
                  },
                  "parameters[users]": {
                    "type": "boolean",
                    "description": "If true, user data will be included. If\nfalse, user data will be omitted. Note: this parameter has been listed to\nserve as an example and may not be valid for every report."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/reports/{report}/{id}": {
      "get": {
        "tags": [
          "account_reports"
        ],
        "summary": "Status of a Report",
        "description": "Returns the status of a report.",
        "operationId": "status_of_report",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "account_reports"
        ],
        "summary": "Delete a Report",
        "description": "Deletes a generated report instance.",
        "operationId": "delete_report",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "report",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/reports": {
      "get": {
        "tags": [
          "account_reports"
        ],
        "summary": "List Available Reports",
        "description": "Returns a paginated list of reports for the current context.",
        "operationId": "list_available_reports",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get a single account",
        "description": "Retrieve information on an individual account, given by id or sis\nsis_account_id.",
        "operationId": "get_single_account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "accounts"
        ],
        "summary": "Update an account",
        "description": "Update an existing account.",
        "operationId": "update_account",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "account[name]": {
                    "type": "string",
                    "description": "Updates the account name"
                  },
                  "account[sis_account_id]": {
                    "type": "string",
                    "description": "Updates the account sis_account_id\nMust have manage_sis permission and must not be a root_account."
                  },
                  "account[default_time_zone]": {
                    "type": "string",
                    "description": "The default time zone of the account. Allowed time zones are\n{http://www.iana.org/time-zones IANA time zones} or friendlier\n{http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}."
                  },
                  "account[default_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default course storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  },
                  "account[default_user_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default user storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  },
                  "account[default_group_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default group storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  },
                  "account[course_template_id]": {
                    "type": "integer",
                    "description": "The ID of a course to be used as a template for all newly created courses.\nEmpty means to inherit the setting from parent account, 0 means to not\nuse a template even if a parent account has one set. The course must be\nmarked as a template.",
                    "format": "int64"
                  },
                  "account[settings][restrict_student_past_view][value]": {
                    "type": "boolean",
                    "description": "Restrict students from viewing courses after end date"
                  },
                  "account[settings][restrict_student_past_view][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][restrict_student_future_view][value]": {
                    "type": "boolean",
                    "description": "Restrict students from viewing courses before start date"
                  },
                  "account[settings][microsoft_sync_enabled]": {
                    "type": "boolean",
                    "description": "Determines whether this account has Microsoft Teams Sync enabled or not.\n\nNote that if you are altering Microsoft Teams sync settings you must enable\nthe Microsoft Group enrollment syncing feature flag. In addition, if you are enabling\nMicrosoft Teams sync, you must also specify a tenant, login attribute, and a remote attribute.\nSpecifying a suffix to use is optional."
                  },
                  "account[settings][microsoft_sync_tenant]": {
                    "type": "string",
                    "description": "The tenant this account should use when using Microsoft Teams Sync.\nThis should be an Azure Active Directory domain name."
                  },
                  "account[settings][microsoft_sync_login_attribute]": {
                    "type": "string",
                    "description": "The attribute this account should use to lookup users when using Microsoft Teams Sync.\nMust be one of \"sub\", \"email\", \"oid\", \"preferred_username\", or \"integration_id\"."
                  },
                  "account[settings][microsoft_sync_login_attribute_suffix]": {
                    "type": "string",
                    "description": "A suffix that will be appended to the result of the login attribute when associating\nCanvas users with Microsoft users. Must be under 255 characters and contain no whitespace.\nThis field is optional."
                  },
                  "account[settings][microsoft_sync_remote_attribute]": {
                    "type": "string",
                    "description": "The Active Directory attribute to use when associating Canvas users with Microsoft users.\nMust be one of \"mail\", \"mailNickname\", or \"userPrincipalName\"."
                  },
                  "account[settings][restrict_student_future_view][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][lock_all_announcements][value]": {
                    "type": "boolean",
                    "description": "Disable comments on announcements"
                  },
                  "account[settings][lock_all_announcements][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][usage_rights_required][value]": {
                    "type": "boolean",
                    "description": "Copyright and license information must be provided for files before they are published."
                  },
                  "account[settings][usage_rights_required][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][restrict_student_future_listing][value]": {
                    "type": "boolean",
                    "description": "Restrict students from viewing future enrollments in course list"
                  },
                  "account[settings][restrict_student_future_listing][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][conditional_release][value]": {
                    "type": "boolean",
                    "description": "Enable or disable individual learning paths for students based on assessment"
                  },
                  "account[settings][conditional_release][locked]": {
                    "type": "boolean",
                    "description": "Lock this setting for sub-accounts and courses"
                  },
                  "override_sis_stickiness": {
                    "type": "boolean",
                    "description": "Default is true. If false, any fields containing “sticky” changes will not be updated.\nSee SIS CSV Format documentation for information on which fields can have SIS stickiness"
                  },
                  "account[settings][lock_outcome_proficiency][value]": {
                    "type": "boolean",
                    "description": "[DEPRECATED] Restrict instructors from changing mastery scale"
                  },
                  "account[lock_outcome_proficiency][locked]": {
                    "type": "boolean",
                    "description": "[DEPRECATED] Lock this setting for sub-accounts and courses"
                  },
                  "account[settings][lock_proficiency_calculation][value]": {
                    "type": "boolean",
                    "description": "[DEPRECATED] Restrict instructors from changing proficiency calculation method"
                  },
                  "account[lock_proficiency_calculation][locked]": {
                    "type": "boolean",
                    "description": "[DEPRECATED] Lock this setting for sub-accounts and courses"
                  },
                  "account[services]": {
                    "type": "object",
                    "description": "Give this a set of keys and boolean values to enable or disable services matching the keys"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/course_accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "List accounts for course admins",
        "description": "A paginated list of accounts that the current user can view through their\nadmin course enrollments. (Teacher, TA, or designer enrollments).\nOnly returns \"id\", \"name\", \"workflow_state\", \"root_account_id\" and \"parent_account_id\"",
        "operationId": "list_accounts_for_course_admins",
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/permissions": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Permissions",
        "description": "Returns permission information for the calling user and the given account.\nYou may use `self` as the account id to check permissions against the domain root account.\nThe caller must have an account role or admin (teacher/TA/designer) enrollment in a course\nin the account.\n\nSee also the {api:CoursesController#permissions Course} and {api:GroupsController#permissions Group}\ncounterparts.",
        "operationId": "permissions",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "permissions",
            "in": "query",
            "description": "List of permissions to check against the authenticated user.\nPermission names are documented in the {api:RoleOverridesController#add_role Create a role} endpoint.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/help_links": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get help links",
        "description": "Returns the help links for that account",
        "operationId": "get_help_links",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HelpLinks"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manually_created_courses_account": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get the manually-created courses sub-account for the domain root account",
        "operationId": "get_manually_created_courses_sub_account_for_domain_root_account",
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "List accounts",
        "description": "A paginated list of accounts that the current user can view or manage.\nTypically, students and even teachers will get an empty list in response,\nonly account admins can view the accounts that they are in.",
        "operationId": "list_accounts",
        "parameters": [
          {
            "name": "include",
            "in": "query",
            "description": "Array of additional information to include.\n\n\"lti_guid\":: the 'tool_consumer_instance_guid' that will be sent for this account on LTI launches\n\"registration_settings\":: returns info about the privacy policy and terms of use\n\"services\":: returns services and whether they are enabled (requires account management permissions)",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "lti_guid",
                "registration_settings",
                "services"
              ]
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/courses": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "List active courses in an account",
        "description": "Retrieve a paginated list of courses in this account.",
        "operationId": "list_active_courses_in_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "with_enrollments",
            "in": "query",
            "description": "If true, include only courses with at least one enrollment.  If false,\ninclude only courses with no enrollments.  If not present, do not filter\non course enrollment status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "enrollment_type",
            "in": "query",
            "description": "If set, only return courses that have at least one user enrolled in\nin the course with one of the specified enrollment types.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "teacher",
                "student",
                "ta",
                "observer",
                "designer"
              ]
            }
          },
          {
            "name": "published",
            "in": "query",
            "description": "If true, include only published courses.  If false, exclude published\ncourses.  If not present, do not filter on published status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "completed",
            "in": "query",
            "description": "If true, include only completed courses (these may be in state\n'completed', or their enrollment term may have ended).  If false, exclude\ncompleted courses.  If not present, do not filter on completed status.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "blueprint",
            "in": "query",
            "description": "If true, include only blueprint courses. If false, exclude them.\nIf not present, do not filter on this basis.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "blueprint_associated",
            "in": "query",
            "description": "If true, include only courses that inherit content from a blueprint course.\nIf false, exclude them. If not present, do not filter on this basis.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "by_teachers",
            "in": "query",
            "description": "List of User IDs of teachers; if supplied, include only courses taught by\none of the referenced users.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "by_subaccounts",
            "in": "query",
            "description": "List of Account IDs; if supplied, include only courses associated with one\nof the referenced subaccounts.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          },
          {
            "name": "hide_enrollmentless_courses",
            "in": "query",
            "description": "If present, only return courses that have at least one enrollment.\nEquivalent to 'with_enrollments=true'; retained for compatibility.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "If set, only return courses that are in the given state(s). By default,\nall states but \"deleted\" are returned.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "created",
                "claimed",
                "available",
                "completed",
                "deleted",
                "all"
              ]
            }
          },
          {
            "name": "enrollment_term_id",
            "in": "query",
            "description": "If set, only includes courses from the specified term.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "description": "The partial course name, code, or full ID to match and return in the results list. Must be at least 3 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "- All explanations can be seen in the {api:CoursesController#index Course API index documentation}\n- \"sections\", \"needs_grading_count\" and \"total_scores\" are not valid options at the account level",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "enum": [
                "syllabus_body",
                "term",
                "course_progress",
                "storage_quota_used_mb",
                "total_students",
                "teachers",
                "account_name",
                "concluded"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The column to sort results by.",
            "schema": {
              "type": "string",
              "enum": [
                "course_name",
                "sis_course_id",
                "teacher",
                "account_name"
              ]
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "The order to sort the given column by.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ]
            }
          },
          {
            "name": "search_by",
            "in": "query",
            "description": "The filter to search by. \"course\" searches for course names, course codes,\nand SIS IDs. \"teacher\" searches for teacher names",
            "schema": {
              "type": "string",
              "enum": [
                "course",
                "teacher"
              ]
            }
          },
          {
            "name": "starts_before",
            "in": "query",
            "description": "If set, only return courses that start before the value (inclusive)\nor their enrollment term starts before the value (inclusive)\nor both the course's start_at and the enrollment term's start_at are set to null.\nThe value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ.",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "ends_after",
            "in": "query",
            "description": "If set, only return courses that end after the value (inclusive)\nor their enrollment term ends after the value (inclusive)\nor both the course's end_at and the enrollment term's end_at are set to null.\nThe value should be formatted as: yyyy-mm-dd or ISO 8601 YYYY-MM-DDTHH:MM:SSZ.",
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "homeroom",
            "in": "query",
            "description": "If set, only return homeroom courses.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Course"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "courses"
        ],
        "summary": "Update courses",
        "description": "Update multiple courses in an account.  Operates asynchronously; use the {api:ProgressController#show progress endpoint}\nto query the status of an operation.",
        "operationId": "update_courses",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "course_ids",
                  "event"
                ],
                "properties": {
                  "course_ids": {
                    "type": "array",
                    "description": "List of ids of courses to update. At most 500 courses may be updated in one call.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "event": {
                    "type": "string",
                    "description": "The action to take on each course.  Must be one of 'offer', 'conclude', 'delete', or 'undelete'.\n* 'offer' makes a course visible to students. This action is also called \"publish\" on the web site.\n* 'conclude' prevents future enrollments and makes a course read-only for all participants. The course still appears\n  in prior-enrollment lists.\n* 'delete' completely removes the course from the web site (including course menus and prior-enrollment lists).\n  All enrollments are deleted. Course content may be physically deleted at a future date.\n* 'undelete' attempts to recover a course that has been deleted. (Recovery is not guaranteed; please conclude\n  rather than delete a course if there is any possibility the course will be used again.) The recovered course\n  will be unpublished. Deleted enrollments will not be recovered.",
                    "enum": [
                      "offer",
                      "conclude",
                      "delete",
                      "undelete"
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourseProgress"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "courses"
        ],
        "summary": "Create a new course",
        "description": "Create a new course",
        "operationId": "create_new_course",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "course[name]": {
                    "type": "string",
                    "description": "The name of the course. If omitted, the course will be named \"Unnamed\nCourse.\""
                  },
                  "course[course_code]": {
                    "type": "string",
                    "description": "The course code for the course."
                  },
                  "course[start_at]": {
                    "type": "string",
                    "format": "datetime",
                    "$ref": "#/components/schemas/DateTime",
                    "description": "Course start date in ISO8601 format, e.g. 2011-01-01T01:00Z\nThis value is ignored unless 'restrict_enrollments_to_course_dates' is set to true."
                  },
                  "course[end_at]": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Course end date in ISO8601 format. e.g. 2011-01-01T01:00Z\nThis value is ignored unless 'restrict_enrollments_to_course_dates' is set to true."
                  },
                  "course[license]": {
                    "type": "string",
                    "description": "The name of the licensing. Should be one of the following abbreviations\n(a descriptive name is included in parenthesis for reference):\n- 'private' (Private Copyrighted)\n- 'cc_by_nc_nd' (CC Attribution Non-Commercial No Derivatives)\n- 'cc_by_nc_sa' (CC Attribution Non-Commercial Share Alike)\n- 'cc_by_nc' (CC Attribution Non-Commercial)\n- 'cc_by_nd' (CC Attribution No Derivatives)\n- 'cc_by_sa' (CC Attribution Share Alike)\n- 'cc_by' (CC Attribution)\n- 'public_domain' (Public Domain)."
                  },
                  "course[is_public]": {
                    "type": "boolean",
                    "description": "Set to true if course is public to both authenticated and unauthenticated users."
                  },
                  "course[is_public_to_auth_users]": {
                    "type": "boolean",
                    "description": "Set to true if course is public only to authenticated users."
                  },
                  "course[public_syllabus]": {
                    "type": "boolean",
                    "description": "Set to true to make the course syllabus public."
                  },
                  "course[public_syllabus_to_auth]": {
                    "type": "boolean",
                    "description": "Set to true to make the course syllabus public for authenticated users."
                  },
                  "course[public_description]": {
                    "type": "string",
                    "description": "A publicly visible description of the course."
                  },
                  "course[allow_student_wiki_edits]": {
                    "type": "boolean",
                    "description": "If true, students will be able to modify the course wiki."
                  },
                  "course[allow_wiki_comments]": {
                    "type": "boolean",
                    "description": "If true, course members will be able to comment on wiki pages."
                  },
                  "course[allow_student_forum_attachments]": {
                    "type": "boolean",
                    "description": "If true, students can attach files to forum posts."
                  },
                  "course[open_enrollment]": {
                    "type": "boolean",
                    "description": "Set to true if the course is open enrollment."
                  },
                  "course[self_enrollment]": {
                    "type": "boolean",
                    "description": "Set to true if the course is self enrollment."
                  },
                  "course[restrict_enrollments_to_course_dates]": {
                    "type": "boolean",
                    "description": "Set to true to restrict user enrollments to the start and end dates of the\ncourse. This value must be set to true\nin order to specify a course start date and/or end date."
                  },
                  "course[term_id]": {
                    "type": "string",
                    "description": "The unique ID of the term to create to course in."
                  },
                  "course[sis_course_id]": {
                    "type": "string",
                    "description": "The unique SIS identifier."
                  },
                  "course[integration_id]": {
                    "type": "string",
                    "description": "The unique Integration identifier."
                  },
                  "course[hide_final_grades]": {
                    "type": "boolean",
                    "description": "If this option is set to true, the totals in student grades summary will\nbe hidden."
                  },
                  "course[apply_assignment_group_weights]": {
                    "type": "boolean",
                    "description": "Set to true to weight final grade based on assignment groups percentages."
                  },
                  "course[time_zone]": {
                    "type": "string",
                    "description": "The time zone for the course. Allowed time zones are\n{http://www.iana.org/time-zones IANA time zones} or friendlier\n{http://api.rubyonrails.org/classes/ActiveSupport/TimeZone.html Ruby on Rails time zones}."
                  },
                  "offer": {
                    "type": "boolean",
                    "description": "If this option is set to true, the course will be available to students\nimmediately."
                  },
                  "enroll_me": {
                    "type": "boolean",
                    "description": "Set to true to enroll the current user as the teacher."
                  },
                  "course[default_view]": {
                    "type": "string",
                    "description": "The type of page that users will see when they first visit the course\n* 'feed' Recent Activity Dashboard\n* 'modules' Course Modules/Sections Page\n* 'assignments' Course Assignments List\n* 'syllabus' Course Syllabus Page\nother types may be added in the future",
                    "enum": [
                      "feed",
                      "wiki",
                      "modules",
                      "syllabus",
                      "assignments"
                    ]
                  },
                  "course[syllabus_body]": {
                    "type": "string",
                    "description": "The syllabus body for the course"
                  },
                  "course[grading_standard_id]": {
                    "type": "integer",
                    "description": "The grading standard id to set for the course.  If no value is provided for this argument the current grading_standard will be un-set from this course.",
                    "format": "int64"
                  },
                  "course[grade_passback_setting]": {
                    "type": "string",
                    "description": "Optional. The grade_passback_setting for the course. Only 'nightly_sync', 'disabled', and '' are allowed"
                  },
                  "course[course_format]": {
                    "type": "string",
                    "description": "Optional. Specifies the format of the course. (Should be 'on_campus', 'online', or 'blended')"
                  },
                  "enable_sis_reactivation": {
                    "type": "boolean",
                    "description": "When true, will first try to re-activate a deleted course with matching sis_course_id if possible."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Course"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sub_accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get the sub-accounts of an account",
        "description": "List accounts that are sub-accounts of the given account.",
        "operationId": "get_sub_accounts_of_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "description": "If true, the entire account tree underneath\nthis account will be returned (though still paginated). If false, only\ndirect sub-accounts of this account will be returned. Defaults to false.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Create a new sub-account",
        "description": "Add a new sub-account to a given account.",
        "operationId": "create_new_sub_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "account[name]"
                ],
                "properties": {
                  "account[name]": {
                    "type": "string",
                    "description": "The name of the new sub-account."
                  },
                  "account[sis_account_id]": {
                    "type": "string",
                    "description": "The account's identifier in the Student Information System."
                  },
                  "account[default_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default course storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  },
                  "account[default_user_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default user storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  },
                  "account[default_group_storage_quota_mb]": {
                    "type": "integer",
                    "description": "The default group storage quota to be used, if not otherwise specified.",
                    "format": "int64"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/terms_of_service": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get the Terms of Service",
        "description": "Returns the terms of service for that account",
        "operationId": "get_terms_of_service",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TermsOfService"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/sub_accounts/{id}": {
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Delete a sub-account",
        "description": "Cannot delete an account with active courses or active sub_accounts.\nCannot delete a root_account",
        "operationId": "delete_sub_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/manageable_accounts": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Get accounts that admins can manage",
        "description": "A paginated list of accounts where the current user has permission to create\nor manage courses. List will be empty for students and teachers as only admins\ncan view which accounts they are in.",
        "operationId": "get_accounts_that_admins_can_manage",
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/settings": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "Settings",
        "description": "Returns settings for the specified account as a JSON object. The caller must be an Account\nadmin with the manage_account_settings permission.",
        "operationId": "settings",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/users/{user_id}": {
      "delete": {
        "tags": [
          "accounts"
        ],
        "summary": "Delete a user from the root account",
        "description": "Delete a user record from a Canvas root account. If a user is associated\nwith multiple root accounts (in a multi-tenant instance of Canvas), this\naction will NOT remove them from the other accounts.\n\nWARNING: This API will allow a user to remove themselves from the account.\nIf they do this, they won't be able to make API calls or log into Canvas at\nthat account.",
        "operationId": "delete_user_from_root_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/lti/accounts/{account_id}": {
      "get": {
        "tags": [
          "accounts_(lti)"
        ],
        "summary": "Get account",
        "description": "Retrieve information on an individual account, given by local or global ID.",
        "operationId": "get_account",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/admins": {
      "get": {
        "tags": [
          "admins"
        ],
        "summary": "List account admins",
        "description": "A paginated list of the admins in the account",
        "operationId": "list_account_admins",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Scope the results to those with user IDs equal to any of the IDs specified here.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              }
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Admin"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "admins"
        ],
        "summary": "Make an account admin",
        "description": "Flag an existing user as an admin within the account.",
        "operationId": "make_account_admin",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "user_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "The id of the user to promote.",
                    "format": "int64"
                  },
                  "role": {
                    "type": "string",
                    "description": "[DEPRECATED] The user's admin relationship with the account will be\ncreated with the given role. Defaults to 'AccountAdmin'."
                  },
                  "role_id": {
                    "type": "integer",
                    "description": "The user's admin relationship with the account will be created with the\ngiven role. Defaults to the built-in role for 'AccountAdmin'.",
                    "format": "int64"
                  },
                  "send_confirmation": {
                    "type": "boolean",
                    "description": "Send a notification email to\nthe new admin if true. Default is true."
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Admin"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/admins/{user_id}": {
      "delete": {
        "tags": [
          "admins"
        ],
        "summary": "Remove account admin",
        "description": "Remove the rights associated with an account admin role from a user.",
        "operationId": "remove_account_admin",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role",
            "in": "query",
            "description": "[DEPRECATED] Account role to remove from the user. Defaults to\n'AccountAdmin'. Any other account role must be specified explicitly.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "role_id",
            "in": "query",
            "description": "The user's admin relationship with the account will be created with the\ngiven role. Defaults to the built-in role for 'AccountAdmin'.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Admin"
                }
              }
            }
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/statistics_by_subaccount": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics, broken down by subaccount",
        "description": "Returns numeric statistics about the department subaccounts and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_broken_down_by_subaccount_completed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/student_summaries": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get course-level student summary data",
        "description": "Returns a summary of per-user access information for all students in\na course. This includes total page views, total participations, and a\nbreakdown of on-time/late status for all homework submissions in the course.\n\nEach student's summary also includes the maximum number of page views and\nparticipations by any student in the course, which may be useful for some\nvisualizations (since determining maximums client side can be tricky with\npagination).",
        "operationId": "get_course_level_student_summary_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_column",
            "in": "query",
            "description": "The order results in which results are returned.  Defaults to \"name\".",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "name_descending",
                "score",
                "score_descending",
                "participations",
                "participations_descending",
                "page_views",
                "page_views_descending"
              ]
            }
          },
          {
            "name": "student_id",
            "in": "query",
            "description": "If set, returns only the specified student.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/activity": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "operationId": "get_department_level_participation_data_completed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/statistics_by_subaccount": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics, broken down by subaccount",
        "description": "Returns numeric statistics about the department subaccounts and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_broken_down_by_subaccount_terms",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/current/activity": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "operationId": "get_department_level_participation_data_current",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/current/statistics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_current",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/grades": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_grade_data_terms",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/activity": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get course-level participation data",
        "description": "Returns page view hits and participation numbers grouped by day through the\nentire history of the course. Page views is returned as a hash, where the\nhash keys are dates in the format \"YYYY-MM-DD\". The page_views result set\nincludes page views broken out by access category. Participations is\nreturned as an array of dates in the format \"YYYY-MM-DD\".",
        "operationId": "get_course_level_participation_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/assignments": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get user-in-a-course-level assignment data",
        "description": "Returns a list of assignments for the course sorted by due date. For\neach assignment returns basic assignment information, the grade breakdown\n(including the student's actual grade), and the basic submission\ninformation for the student's submission if it exists.",
        "operationId": "get_user_in_a_course_level_assignment_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "student_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/current/grades": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_grade_data_current",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/assignments": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get course-level assignment data",
        "description": "Returns a list of assignments for the course sorted by due date. For\neach assignment returns basic assignment information, the grade breakdown,\nand a breakdown of on-time/late status of homework submissions.",
        "operationId": "get_course_level_assignment_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "async",
            "in": "query",
            "description": "If async is true, then the course_assignments call can happen asynch-\nronously and MAY return a response containing a progress_url key instead\nof an assignments array. If it does, then it is the caller's\nresponsibility to poll the API again to see if the progress is complete.\nIf the data is ready (possibly even on the first async call) then it\nwill be passed back normally, as documented in the example response.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/activity": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get user-in-a-course-level participation data",
        "description": "Returns page view hits grouped by hour, and participation details through the\nentire history of the course.\n\n`page_views` are returned as a hash, where the keys are iso8601 dates, bucketed by the hour.\n`participations` are returned as an array of hashes, sorted oldest to newest.",
        "operationId": "get_user_in_a_course_level_participation_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "student_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/grades": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level grade data",
        "description": "Returns the distribution of grades for students in courses in the\ndepartment.  Each data point is one student's current grade in one course;\nif a student is in multiple courses, he contributes one value per course,\nbut if he's enrolled multiple times in the same course (e.g. a lecture\nsection and a lab section), he only constributes on value for that course.\n\nGrades are binned to the nearest integer score; anomalous grades outside\nthe 0 to 100 range are ignored. The raw counts are returned, not yet\nnormalized by the total count.\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_grade_data_completed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/analytics/users/{student_id}/communication": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get user-in-a-course-level messaging data",
        "description": "Returns messaging \"hits\" grouped by day through the entire history of the\ncourse. Returns a hash containing the number of instructor-to-student messages,\nand student-to-instructor messages, where the hash keys are dates\nin the format \"YYYY-MM-DD\". Message hits include Conversation messages and\ncomments on homework submissions.",
        "operationId": "get_user_in_a_course_level_messaging_data",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "student_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/statistics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_terms",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/completed/statistics": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics",
        "description": "Returns numeric statistics about the department and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_completed",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/current/statistics_by_subaccount": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level statistics, broken down by subaccount",
        "description": "Returns numeric statistics about the department subaccounts and term (or filter).\n\nShares the same variations on endpoint as the participation data.",
        "operationId": "get_department_level_statistics_broken_down_by_subaccount_current",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/accounts/{account_id}/analytics/terms/{term_id}/activity": {
      "get": {
        "tags": [
          "analytics"
        ],
        "summary": "Get department-level participation data",
        "description": "Returns page view hits summed across all courses in the department. Two\ngroupings of these counts are returned; one by day (+by_date+), the other\nby category (+by_category+). The possible categories are announcements,\nassignments, collaborations, conferences, discussions, files, general,\ngrades, groups, modules, other, pages, and quizzes.\n\nThis and the other department-level endpoints have three variations which\nall return the same style of data but for different subsets of courses. All\nshare the prefix /api/v1/accounts/<account_id>/analytics. The possible\nsuffixes are:\n\n * /current: includes all available courses in the default term\n * /completed: includes all concluded courses in the default term\n * /terms/<term_id>: includes all available or concluded courses in the\n   given term.\n\nCourses not yet offered or which have been deleted are never included.\n\n/current and /completed are intended for use when the account has only one\nterm. /terms/<term_id> is intended for use when the account has multiple\nterms.\n\nThe action follows the suffix.",
        "operationId": "get_department_level_participation_data_terms",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "term_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {}
          }
        }
      }
    },
    "/v1/courses/{course_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "tags": [
          "announcement_external_feeds"
        ],
        "summary": "Delete an external feed",
        "description": "Deletes the external feed.",
        "operationId": "delete_external_feed_courses",
        "parameters": [
          {
            "name": "course_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "external_feed_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalFeed"
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups/{group_id}/external_feeds/{external_feed_id}": {
      "delete": {
        "tags": [
          "announcement_external_feeds"
        ],
        "summary": "Delete an external feed",
        "description": "Deletes the external feed.",
        "operationId": "delete_external_feed_groups",
        "parameters": [
          {
            "name": "group_id",
            "in": "path",
            "description": "ID",
            "required": true,
            "schema": {
[...]
